body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
::-moz-selection {
    background: #278bec;
    color: white
}
::selection {
    background: #278bec;
    color: white
}
.abcen {
    position: absolute;
    bottom: 8%;
}
.abcen1 {
    position: absolute;
    top: 20%;
}
.content-section-c {
    border-top: 1px solid #9f2f2f;
    border-bottom: 1px solid #9f2f2f;
    background-color: #9f2f2f;
    padding: 90px 0;
}
.descp {
    margin: 0;
    padding: 0;
    line-height: 40px !important;
}
.lead2 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.46428571;
    font-weight: 300;
}
.lead3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 1.46428571;
    font-weight: 300;
}
.float {
    -webkit-animation-name: floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
.h1_home {
    font-size: 80px;
    font-family: arvo;
    font-weight: 300;
    letter-spacing: 6px;
}
.h3_home {
    font-weight: 300;
}
#owl-demo .item {
    margin: 3px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo-1 .item {
    margin: 3px;
}
#owl-demo-1 .item img {
    display: block;
    width: 100%;
    height: auto;
}
/*magnific */

.mfp-bg {
    background: #000000 !important;
    opacity: 0.95 !important;
    filter: alpha(opacity=95) !important;
}
.item .img-responsive {
    cursor: url(../img/arrow.png), auto;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
}
.btn-primary {
    border-color: rgba(52, 73, 94, 0);
}
.tworow {
    margin-top: 90px;
}
.social {
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    color: #278dec;
}
.owl-theme .owl-controls .owl-page span {
    background: #278dec !important;
}
.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
}
.navbar-default {
    position: relative;
    min-height: 60px;
    width: 100%;
    z-index: 999;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ECEBEB;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover {
    color: #ECEBEB;
}
.navbar-brand {
    font-family: arvo;
    letter-spacing: 3px;
    font-weight: 500 !important;
}
.lead {
    font-size: 16px;
    font-weight: 400;
}
.intro-header {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8;
    background: url(../img/backgrnd/header.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}
.intro-message {
    position: relative;
    padding-top: 12%;
    padding-bottom: 20%;
}
.list-inline {
    margin-top: 30px;
}
.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message > h3 {
    margin: 0;
    font-size: 2.8em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    margin-top: 10px;
}
.network-name {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.content-section-a {
    background-color: #f4f4f4;
    padding: 90px 0;
}
.content-section-b {
    background-color: #d3d8ff;
    border-top: 1px solid #278dec;
    border-bottom: 1px solid #278dec;
    padding: 90px 0;
}
.section-heading {
    margin-bottom: 30px;
}
.section-heading-spacer {
    border-top: 3px solid #e7e7e7;
    width: 200px;
    float: left;
}
.content-style-form {
    position: relative;
    text-align: left;
}
.content-style-form h2 {
    margin: 0;
    padding: 0.4em 0 0.3em;
    text-align: center;
    font-weight: 300;
    font-size: 3.5em;
}
.content-style-form form {
    padding: 10px 30px;
}
.content-style-form form p {
    margin: 0 0 5px 0;
    font-size: 0.7em;
}
.content-style-form label {
    display: block;
    padding: 10px 0 0;
    color: #34495e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.content-style-form input[type="text"],
.content-style-form input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 2px solid #ebd3bd;
    background: transparent;
    color: #b09a86;
    font-weight: 300;
    font-size: 2.2em;
}
.content-style-form input[type="text"]:focus,
.content-style-form input[type="password"]:focus {
    border-color: #e75854;
    color: #e75854;
}
.content-style-form input:focus {
    outline: 0;
}
.content-style-form button {
    display: block;
    margin-top: 2.5em;
    padding: 1.5em;
    width: 100%;
    border: none;
    background: #e75854;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25em;
}
.content-style-form .icon-close {
    top: 0;
    right: 0;
    color: #ebd3bd;
    font-size: 75%;
}
.content-style-form .icon-close:hover {
    color: #e75854;
}
.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .icon-close {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
    transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}
.content-style-form-1 p:first-child {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.content-style-form-1 p:nth-child(2) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}
.content-style-form-1 p:nth-child(3) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
    transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
.content-style-form-2 p:first-child {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.content-style-form-2 p:nth-child(2) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.content-style-form-2 p:nth-child(3) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}
.content-style-form-2 p:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.content-style-form-4 input[type="text"] {
    border: none;
    background-color: #f0f0f0;
}
.content-style-form-4 form button:focus,
.content-style-form-4 form button:hover {
    background: #278dec;
}
.js .content-style-form-4 p {
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: rotateX(-45deg);
    transform: rotateX(-45deg);
    -webkit-transform-origin: center top;
    transform-origin: center top;
}
.morph-button.open .content-style-form-4 p {
    opacity: 1;
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.morph-button.open .content-style-form-4 p:nth-child(2) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.content-style-social {
    padding: 30px;
    text-align: left;
}
.morph-button-inflow-2 > button svg {
    display: inline-block;
    padding-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: -5%;
}
.morph-button-inflow-2 > button svg path {
    fill: #e75854;
}
.morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
}
.morph-button > button {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
    overflow: hidden;
}
.morph-button.open > button {
    pointer-events: none;
}
.morph-content {
    pointer-events: none;
}
.morph-button.open .morph-content {
    pointer-events: auto;
}
.morph-button-fixed,
.morph-button-fixed .morph-content {
    width: 300px;
    height: 80px;
}
.morph-button-fixed > button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
}
.morph-button-fixed.open > button {
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}
.morph-button-fixed.open .morph-content {
    opacity: 1;
}
.morph-button-fixed .morph-content > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}
.morph-button-fixed.open .morph-content > div {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}
.morph-button-fixed.active > button {
    z-index: 2000;
}
.morph-button-fixed.active .morph-content {
    z-index: 1900;
}
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}
.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}
.morph-button.morph-button-overlay {
    margin: 50px auto;
}
.morph-button-overlay .morph-content {
    overflow: hidden;
    background: #e85657;
}
.morph-button-overlay.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
}
.morph-button-modal::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}
.morph-button-modal.open::before {
    opacity: 1;
    pointer-events: auto;
}
.morph-button-modal.active::before {
    z-index: 1800;
}
.morph-button-modal .morph-content {
    overflow: hidden;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}
.morph-button-modal.open .morph-content {
    top: 50% !important;
    left: 50% !important;
    margin: -210px 0 0 -300px;
    width: 600px;
    height: 420px;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}
.morph-button.morph-button-modal-1 {
    float: left;
}
.morph-button.morph-button-modal-2,
.morph-button.morph-button-modal-3 {
    display: inline-block;
    margin: 10px 15px;
}
.morph-button-modal-1 > button,
.morph-button-modal-1 .morph-content {
    background-color: #553445;
}
.morph-button-modal-2 > button,
.morph-button-modal-2 .morph-content,
.morph-button-modal-3 > button,
.morph-button-modal-3 .morph-content {
    background-color: #fef0e3;
    color: #e75854;
}
.morph-button-modal-4 {
    display: inline-block;
}
.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
    background-color: #faf1e0;
    color: #553445;
}
.morph-button-modal-4 > button span,
.morph-button-modal-4 .morph-clone {
    padding-left: 10px;
    color: #286f81;
}
.morph-button-modal-4 .morph-clone {
    position: absolute;
    right: 34px;
    bottom: 30px;
    z-index: 100;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
}
.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
    right: 10px;
    bottom: 10px;
}
.morph-button-modal-1::before {
    background: rgba(240, 221, 204, 0.7);
}
.morph-button-modal-2.open .morph-content {
    margin: -210px 0 0 -170px;
    width: 340px;
    height: 420px;
}
.morph-button-modal-3.open .morph-content {
    margin: -255px 0 0 -210px;
    width: 420px;
    height: 510px;
}
.morph-button-modal-3.open .morph-content > div {
    height: 420px;
}
.morph-button-modal-2.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}
.morph-button-modal-4.open .morph-content {
    margin: -200px 0 0 -320px;
    width: 640px;
    height: 400px;
}
.morph-button-inflow {
    overflow: hidden;
    max-width: 100%;
    height: 70px;
}
.morph-button-inflow > button {
    width: 100%;
    line-height: 70px;
}
.morph-button-inflow .morph-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.morph-button-inflow .morph-content .morph-clone {
    padding: 0;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 70px;
}
.morph-button-inflow-1 {
    width: 600px;
    margin: 2em auto;
    -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.morph-button-inflow-1 > button span {
    visibility: hidden;
}
.morph-button-inflow-1 .morph-content .morph-clone {
    color: #FFFFFF;
    background: #278bec;
}
.morph-button-inflow-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    background-color: #fef0e3;
    -webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, width 0.3s, transform 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.morph-button-inflow-2 > button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #e75854;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.morph-button-inflow-2.open > button {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.morph-button-inflow-2 .morph-content {
    width: 260px;
    height: 200px;
}
.morph-button-inflow-2.open {
    width: 260px;
}
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
    width: 60px;
    height: 60px;
}
.morph-button-sidebar {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
.morph-button-sidebar > button {
    line-height: 60px;
    font-size: 1.6em;
    padding: 0;
}
.morph-button-sidebar .morph-content {
    background: #e85657;
}
.morph-button-sidebar.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 300px;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.noscroll {
    overflow: hidden;
}
.morph-button-overlay.scroll .morph-content {
    overflow-y: scroll;
}
.morph-button-sidebar.scroll .morph-content {
    overflow: auto;
}
.no-js .morph-button > button {
    display: none;
}
.no-js .morph-button {
    margin: 10px 0;
    float: none;
}
.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto;
}
.no-js .morph-button .morph-content .icon-close {
    display: none;
}
.no-js .morph-button-sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    background: #e85657;
    overflow: auto;
}
.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}